[submodule "xiaomi_flashable_firmware_creator/extractors/ota_payload_extractor"]
	path = xiaomi_flashable_firmware_creator/extractors/ota_payload_extractor
	url = https://github.com/yshalsager/extract_android_ota_payload
