repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        stages: [ commit ]
        language: system
        entry: poetry run isort
        types: [ python ]

      - id: black
        name: black
        stages: [ commit ]
        language: system
        entry: poetry run black
        types: [ python ]

      - id: flake8
        name: flake8
        stages: [ commit ]
        language: system
        entry: poetry run flake8
        types: [ python ]
        exclude: setup.py

