[tool.poetry]
name = "xiaomi_flashable_firmware_creator"
version = "2.2.0"
description = "Create flashable firmware zip from MIUI Recovery ROMs!"
authors = ["yshalsager <ysh-alsager@hotmail.com>"]
license = "GPL-3.0-only"
repository = "https://github.com/XiaomiFirmwareUpdater/xiaomi-flashable-firmware-creator/"
homepage = "https://xiaomifirmwareupdater.com/projects/xiaomi-flashable-firmware-creator/"
keywords = ["xiaomi", "firmware", "android"]
packages = [
    { include = "xiaomi_flashable_firmware_creator" }
]
include = [
    "README.md",
    "pyproject.toml"
]
exclude = ["xiaomi_flashable_firmware_creator/tests"]
readme = "README.md"

[tool.poetry.scripts]
xiaomi_flashable_firmware_creator = "xiaomi_flashable_firmware_creator.xiaomi_flashable_firmware_creator:main"

[tool.poetry.dependencies]
python = "^3.6"
remotezip = "^0.9.2"
protobuf = "^3.15.0"

[tool.poetry.dev-dependencies]
pylint = "^2.7.4"
pycodestyle = "^2.6.0"

[tool.pylint.messages_control]
disable = [
    "too-many-instance-attributes"
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
