name: "Publish"

on:
  push:
    tags:
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      UV_CACHE_DIR: /tmp/.uv-cache
      MISE_PYTHON_UV_VENV_AUTO: false
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: uv cache
        uses: actions/cache@v4
        if: hashFiles('uv.lock') != ''
        with:
          path: /tmp/.uv-cache
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}
      - uses: jdx/mise-action@v3
        with:
          experimental: true
      - name: Build
        run: uv build
      # Check that basic features work and we didn't miss to include crucial files
      - name: Smoke test (wheel)
        run: uv run --isolated --no-project --with pytest --with dist/*.whl pytest
      - name: Smoke test (source distribution)
        run: uv run --isolated --no-project --with pytest --with dist/*.tar.gz pytest
      - name: Publish
        run: uv publish
        env:
          UV_PUBLISH_CHECK_URL: https://pypi.org/simple/
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true
